.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.P1-board,
.P2-board {
    height: 40vh;
    text-align: center;
    /* border: 2px solid grey; */
    border-radius: 5px;
    background-color: white;
}

.start-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.yourBoard{
    border: 1px solid black;
    height:30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-column-gap:0px;
    grid-row-gap:0px;
}

.yourBoard div{
    border: 1px solid black;
    background-color:lightblue;
}

.enemyBoard{
    border: 1px solid black;
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-column-gap:0px;
    grid-row-gap:0px;
}

.enemyBoard div{
    border: 1px solid black;
    background-color:lightblue;
}

.hit{
    background-color:green;
}

.miss{
    background-color: red
}