.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/assets/imgs/background.webp);
    background-position: center;
  }

.start-wrapper {
    text-align: center;
    padding: 0px 40px;
}

.logo {
    background-image: url(./assets/imgs/logo.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    height:100px;
    width: auto;
    margin-bottom: 30px;
}

.start-btn {
    background-color: black;
    border-color: black;
    margin-top: 10px;
}

.game-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.yourBoard{
    border: 1px solid black;
    height:30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-column-gap:0px;
    grid-row-gap:0px;
}

.yourBoard div{
    border: 1px solid black;
    background-color:lightblue;
}

.enemyBoard{
    border: 1px solid black;
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-column-gap:0px;
    grid-row-gap:0px;
}

.enemyBoard div{
    border: 1px solid black;
    background-color:lightblue;
}

.hit{
    background-color:green;
}

.miss{
    background-color: red
}

.shot {
    {
        pointer-events: none;
      }
}