.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.P1-board,
.P2-board {
    height: 40vh;
    text-align: center;
    /* border: 2px solid grey; */
    border-radius: 5px;
    background-color: white;
}

.start-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}